.password-manager-container {
  background-image: linear-gradient(to bottom, #9ba9eb, #94a3b8, #f8fafc);
  min-height: 100vh;
  background-size: cover;
  margin: 0px;
  padding: 40px 100px 20px 100px;
}
.password-input-card-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #5763a5;
  border-radius: 4px;
  padding: 40px 40px 40px 40px;
  min-width: 80vw;
  min-height: 60vh;
}
.password-manager-img-card {
  width: 80%;
}
.app-logo {
  height: 60px;
  margin-bottom: 20px;
}
.password-input-card {
  display: flex;
  flex-direction: column;
  background-color: #454f84;
  width: 90%;
  border-radius: 6px;
  padding: 20px;
}
.password-manager-img {
  width: 90%;
}
.manager-heading {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 18px;
  font-weight: bold;
}
.enter-value-card {
  display: flex;
  align-items: center;
  background-color: #ffffff;

  border-radius: 4px;
  margin-top: 20px;
  border: 0px;
  height: 50px;
}
.icon-card {
  border-top: 0px;
  border-bottom: 0px;
  padding: 10px;
  margin: none;
}
.icon {
  height: 20px;
}
.icon-value-card {
  border-left: solid 1px #94a3b8;
  padding: 7px;
  width: 100%;
}

.icon-value {
  font-family: 'Roboto';
  font-size: 14px;
  color: #64748b;
  width: 100%;
  outline: none;
  border: none;
}
.add-button {
  background-color: #0b69ff;
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 12px;
  border: none;
  width: 80px;
  height: 32px;
  border-radius: 4px;
  margin-top: 20px;
  align-self: flex-end;
  cursor: pointer;
}
@media screen and (max-width: 767px) {
  .password-manager-container {
    padding: 15px;
  }
  .password-input-card-container {
    flex-direction: column;
  }
  .password-manager-img {
    order: 0;
  }
  .password-input-card {
    order: 1;
  }
  .password-input-card-container {
    padding: 15px;
    width: 100%;
  }
  .app-logo {
    height: 40px;
  }
  .password-manager-img {
    width: 90%;
  }
}

.store-password-section {
  background-color: #5763a5;
  border-radius: 4px;
  padding: 40px 40px 40px 40px;
  margin-top: 20px;
  width: 100%;
}
.your-password-header-section {
  display: flex;
  justify-content: space-between;
}

.pass-header-section {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0px 10px 0px 10px;
}
.header {
  font-family: 'Roboto';
  font-size: 16px;
  color: #ffffff;
}
.password-count {
  border-radius: 40%;
  border: solid 1px #ffffff;
  background-color: #5763a5;
  padding: 1px 6px 1px 6px;
  font-family: 'Roboto';
  font-size: 8px;
  color: #ffffff;
  margin-left: 4px;
}
.search-section {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}
.search-icon-container {
  background-color: #ffffff;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  padding: 5px;
  height: 24px;
}
.search-input-container {
  background-color: #ffffff;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  height: 24px;
  border-left: solid 1px #7683cb;
}
.search {
  height: 18px;
}
.text-search {
  outline: none;
  border: none;
  color: #7683cb;
  font-family: 'Roboto';
  font-size: 12px;
  height: 18px;
}
.password-stored-cards {
  display: flex;
}
@media screen and (max-width: 767px) {
  .store-password-section {
    padding: 20px 20px 20px 20px;
  }
  .header {
    font-size: 12px;
  }
}
.horizontal-line {
  width: 100%;
  text-align: center;
  border: solid 1px #b6c3ca;
}
.password-check-section {
  display: flex;
  justify-content: flex-end;
}
.checkbox {
  background-color: #ffffff;
}
.checkbox-header {
  color: #ffffff;
}
.no-passwords {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.no-passwords-img {
  width: 60%;
}
.no-password-header {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 30px;
}
@media screen and (max-width: 767px) {
  .password-stored-cards {
    align-items: center;
    flex-direction: column;
    margin: 0px;

    padding: 0px;
  }
}

/*
Hex: #9ba9eb
Hex: #c3caea
Hex: #5763a5
Hex: #f8fafc
Hex: #454f84
Hex: #0b69ff
Hex: #94a3b8
Hex: #b6c3ca
Hex: #7683cb
Hex: #f59e0b
Hex: #10b981
Hex: #f97316
Hex: #14b8a6
Hex: #b91c1c
Hex: #ffffff
Hex: #0ea5e9
Hex: #64748b
*/
